h1 {
  font-family: $lato;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-family: $lato;
  font-size: 30px;
  font-weight: 900;
}
h3 {
  font-family: $lato;
  font-size: 18px;
  font-weight: 900;
}
p {
  font-family: $lato;
  font-size: 12px;
  font-weight: 400;
}
