$white:        #fff;      // navigation color
$gray-light:   #f2f2f2;   // services bgnd, about us bgnd
$gray:         #222;      // portfolio tab active color

$blue-lighter: #767e9e;   // text color
$blue-light:   #666d89;   // headings color, footer color
$blue-dark:    #2d303a;   // header bgnd, portfolio bgnd, footer bgnd
$blue-darker:  #323742;   // header border bottom

$pink-lighter: #f0d8d9;   // get a quote
$pink-light:   #f06c64;   // carousel bgnd, get a quote bgnd
$pink-dark:    #f48c8f;   // get a quote input color
$pink-darker:  #d6564f;   // get a quote input bgnd
