#about {
  padding: 65px 0 55px;
  background: $gray-lighter;
  border-bottom: 6px solid $white;
  .about-box {
    img {
      margin: 0 0 20px 0;
    }
    p {
      margin: 0 0 30px 0;
    }
  }
  .social-networks {
    @include clearfix();
    margin: 0 0 10px 0;
    li {
      float: left;
      margin: 0 8px 0 0;
      background: url("../images/sprites-social.png") no-repeat;
      &:nth-child(1) {
        background-position: 0 0;
      }
      &:nth-child(2) {
        background-position: -40px 0;
      }
      &:nth-child(3) {
        background-position: -80px 0;
      }
      &:nth-child(4) {
        background-position: -120px 0;
      }
      a {
        display: block;
        text-indent: -9999em;
        width: 32px;
        height: 32px;
      }
    }
  }
}
