.footer {
  background: $blue-dark;
  padding: 22px 0;
  p {
    float: left;
    line-height: 32px;
    margin: 0;
  }
  .social-networks {
    float: right;
    @include clearfix();
    margin: 0;
    li {
      float: left;
      margin: 0 8px 0 0;
      background: url("../images/sprites-social.png") no-repeat;
      &:nth-child(1) {
        background-position: 0 0;
      }
      &:nth-child(2) {
        background-position: -40px 0;
      }
      &:nth-child(3) {
        background-position: -80px 0;
      }
      &:nth-child(4) {
        background-position: -120px 0;
      }
      a {
        display: block;
        text-indent: -9999em;
        width: 32px;
        height: 32px;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .footer {
    p {
      float: none;
      margin: 0 0 10px 0;
    }
    .social-networks {
      float: none;
    }
  }
}
